/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 */
 @import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding-top: 75px;
	background-color: #ECF0F1;
}

.shadow{
	box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
}

.shadow2{
	box-shadow: -1px -1px rgba(0,0,102,0.1);
}
.navbar {
    background-color: white;
    border-width: 0px;
    margin-top: 0;
	   outline: none;
    a {
      color: #353940;
      font-weight: lighter;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
      &:hover{
        background: transparent !important;
        background-color: transparent !important;
        border-bottom: 1px solid #3E92A3;
      }
      &:focus{
        background: transparent !important;
        background-color: transparent !important;
       }

    }
      li {
        margin-right: 5px;
    }
}

.btn-hl{
	margin-right: 25px !important;
	padding: 4px 12px 6px 12px !important;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #cddbee;
    background-color: white;
    color: #364656;
    text-decoration: none;
    &:hover{
      border: 1px solid #cddbee !important;
      background: #eef9ff !important;
      background-color: #eef9ff !important;

    } 

}

.btn-hs{
    margin-right: 15px;
		padding: 4px 12px 6px 12px !important;
    margin-top: 10px;
		border-radius: 4px;
		cursor: pointer;
		border: 1px solid #cddbee;
		background-color: white;
		color: #364656;
    background: #eef9ff;
    text-decoration: none;
    &:hover{
      border: 1px solid #cddbee !important;
      background: #eef9ff !important;
      background-color: #eef9ff !important;

    }
	
}

.selecte{
  border-bottom: 1px solid #3E92A3 !important;
}

#logo {
	text-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FF5335;
  text-decoration: none;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  margin-top: 5px;
    &:hover {
      color: #FF5335;
      text-decoration: none !important;
      border:none !important;
    }
}

/*//////////////////////////////// FOooooooooooooter*/

footer {
     /* margin-top: 100px;
      padding-top: 5px;*/
      /*border-top: 1px solid #3E92A3;*/
      font-family: 'Open Sans', sans-serif;
      color: #777777;
       a {
          color: #3E92A3;
        &:hover {
            color: #AEAEAE;
          }
        }
       small {
            float: left;
            }

       ul {
          float: right;
          list-style: none;
          li {
              float: left;
              margin-left: 15px;
            }
          }
    }

    * {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
footer, .push {
height: 4em;
}

/************** Thumbnails index ***/

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 5px;

}

.thumbnail img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.imgtitle{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #3E92A3;
}

.caption p{
  font-family: 'Josefin Slab', serif !important;
  font-weight: 700;
}

/*********************************** Show page *********************/

#imgdescription{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  letter-spacing: 1px;
}

.editbutton, .editbutton:visited{
  background-color: transparent;
  border-color: cadetblue;
  color: cadetblue;
  margin-right: 5px;
    &:hover{
      background-color: cadetblue;
      color: white !important;
      border-color: cadetblue;
    }
}

.deletebutton, .deletebutton:visited{
  text-decoration: none;
  background-color: transparent;
  color: #FF5335;
  border-color: #FF5335;
    &:hover{
      background-color: #FF5335;
      color: white !important ;
      border-color: #FF5335;
    }
}

.likebutton{
  border: 1px solid transparent !important;
  color: #af111c ;
  border-color: #af111c;
    &:hover{
      color : #af111c ;
      border: 1px solid #af111c !important;
    }
}

.liked{
  border: 1px solid #af111c !important;;
}

