<footer class="footer container-fluid shadow2">
  <small>
    This Pinstub App is made
    by <a href="https://www.facebook.com/kuro.Echelon">Ayoub AIT IKEN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", "#" %></li>
      <li><a href="https://twitter.com/Aub_iken">Twitter</a></li>
      <li><a href="https://github.com/Ayoub-Iken">Github</a></li>
    </ul>
  </nav>
</footer>
